@media (max-width : 12cm) {
  body {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 3vw;
  }
}

@media (min-width : 12cm) {
  body {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 15%;
    font-size: 1em;
  }
}

body {
  padding: 0;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: light;
  /* text-align: justify; */
}

h1, h2 {
  /* font-variant: small-caps; */
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  font-weight: light;
  color: #000000;
}

div {
  color: #606060;
}

p {
  color: #606060;
}

a {
  color: #A0A0A0;
}

a:link.live, a:visited.live {
  text-decoration: none;
  color: #606060;
}

a:hover.live {
  color: #F08080;
  text-decoration: underline;
}

.item {
  display: table;
  width: 100%;
  padding-bottom: 1em;
}

.head {
  display: table-row;
}

.thing {
  display: table-cell;
  padding-right: 1em;
  color: #606060;
}

.place {
  display: table-cell;
  text-align: right;
  font-size: smaller;
  font-weight: bold;
}

.info {
  display: table-row;
  font-size: smaller;
  font-style: italic;
  color: #A0A0A0;
}

#header h1 {
  font-size: 4em;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}

#header span {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 0;
  color: #606060;
}

#about p {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1em;
}

