<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name="description" class="template" content="{{name}}: {{role}} / {{place}}">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|IM+Fell+DW+Pica+SC|IM+Fell+Double+Pica|IM+Fell+Double+Pica+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="css/style.css">
    <title>{{name}}</title>
  </head>

  <body>
    <section id="header">
      <h1 class="title">{{name}}</h1>
      <div class="tagline">{{role}} / {{{place}}}</div>
      <div class="item">
        {{#links}}
          <span class="tag"><a href="{{url}}">@{{name}}</a></span>
        {{/links}}
      </div>
    </section>

    <section id="about">
      <h2>About</h2>
      <div>
        {{{about}}}
      </div>
    </section>

    <section id="education">
      <h2>Education</h2>
      {{#education}}
        <div class="item">
          <div class="head">
            <span class="lhs">{{degree}}</span>
            <span class="rhs">{{when}}</span>
          </div>
          <div class="info">
            {{where}}
            {{#info}}
              <div>
                {{{.}}}
              </div>
            {{/info}}
          </div>
        </div>
      {{/education}}
    </section>

    <section id="awards">
      <h2>Awards</h2>
      {{#awards}}
        <div class="item">
          <div class="head">
            <span class="lhs">{{title}}</span>
            <span class="rhs">{{when}}</span>
          </div>
          <div class="info">
            granted by {{source}}
          </div>
        </div>
      {{/awards}}
    </section>

    <section id="positions">
      <h2>Research, Industry, and Teaching Positions</h2>
      {{#positions}}
        <div class="item">
          <strong>{{title}}</strong> / {{where}} / {{when}}
        </div>
      {{/positions}}
    </section>

    <section id="references">
      <h2>Professional References</h2>
      {{#references}}
        <div class="item">
          <strong>{{name}}</strong> / {{title}} / {{where}} / <a href="mailto:{{email}}">{{email}}</a>
        </div>
      {{/references}}
    </section>

    <section id="activities">
      <h2>Professional Activities</h2>
      {{#activities}}
        <div class="item">
          <div class="head">
            <span class="lhs">{{role}}</span>
            <span class="rhs">{{{name}}}</span>
          </div>
          <div class="info">
            <a href="{{URL}}">{{{desc}}}</a>
          </div>
        </div>
      {{/activities}}
    </section>

    <section id="publications">
      <h2>List of Publications</h2>
      {{#publications}}
        <div class="item">
          {{authors}}.
          <span class="article-title">
            {{#URL}}
              <a href="{{.}}">{{{title}}}</a>
            {{/URL}}
            {{^URL}}
              <a>{{{title}}}</a>
            {{/URL}}.
          </span>
          In <span class="article-volume">{{{book}}}</span>
          ({{{acronym}}}){{#series}}, {{{.}}}{{/series}}{{#volume}}, volume {{{.}}}{{/volume}}{{#issue}}, issue {{{.}}}{{/issue}}{{#pages}}, pages {{{.}}}{{/pages}}.
          {{{publisher}}}, {{year}}.
        </div>
      {{/publications}}
    </section>

    <section id="software">
      <h2>Software</h2>
      {{#software}}
        <div class="item">
          <div class="head">
            <span class="lhs">
              <a href="{{URL}}">{{{name}}}</a>
            </span>
          </div>
          <div class="info">{{{desc}}}</div>
        </div>
      {{/software}}
    </section>

    <section id="contact">
      <h2>Contact</h2>
      {{#contact}}
        <div class="item">{{{address}}}</div>
        <div class="item">
          <a href="mailto:{{email}}">{{email}}</a>
        </div>
        {{#phone}}
          <div class="item">{{number}} ({{{country}}})</div>
        {{/phone}}
      {{/contact}}
    </section>

  </body>

</html>