<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name="description" class="template" content="{{name}}: {{role}} / {{place}}">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon|IM+Fell+French+Canon+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="css/screen.css">
    <link rel="stylesheet" media="print" href="css/print.css">
    <link rel="stylesheet" href="css/index.css">
    <title>{{name}}</title>
  </head>

  <body>
    <div class="row">
      <div class="column left">

        <section id="header">
          <h1 class="title">{{name}}</h1>
          <div class="tagline">{{role}} / {{{place}}}</div>
          <div class="item">
            {{#links}}
              <span class="tag"><a href="{{url}}">@{{name}}</a></span>
            {{/links}}
          </div>
        </section>

        <section id="about">
          <h2>About</h2>
          <div>
            {{{about}}}
          </div>
        </section>

        <section id="activities">
          <h2>Professional Activities</h2>
          {{#activities}}
            <div class="item">
              <div class="head">
                <span class="lhs">{{role}}</span>
                <span class="rhs"><a href="{{URL}}">{{{acronym}}}</a></span>
              </div>
            </div>
          {{/activities}}
        </section>

      </div>
      <div class="column right">

        <section id="publications">
          <h2>Publications</h2>
          {{#publications}}
            <div class="item">
              <div class="head">
                <span class="lhs">
                  {{#pdf}}
                    <a href="{{.}}">{{{title}}}</a>
                  {{/pdf}}
                  {{^pdf}}
                    <a>{{{title}}}</a>
                  {{/pdf}}
                </span>
                <span class="rhs">{{{acronym}}}</span>
              </div>
              {{#info}}
                <div class="info">
                  {{{.}}}
                </div>
              {{/info}}
            </div>
          {{/publications}}
        </section>

      </div>
    </div>

    <div class="row">
      <div class="column left">

        <section id="software">
          <h2>Software</h2>
          {{#software}}
            <div class="item">
              <div class="head">
                <span class="lhs">
                  <a href="{{URL}}">{{{name}}}</a>
                </span>
              </div>
              <div class="info">{{{desc}}}</div>
            </div>
          {{/software}}
        </section>

      </div>
      <div class="column right">

        <section id="contact">
          <h2>Contact</h2>
          {{#contact}}
            <div class="item">{{{address}}}</div>
            <a href="mailto:{{email}}">{{email}}</a><br>
            {{#phone}}
              <a href="tel:{{number}}">{{number}}</a> {{#note}}({{{.}}}){{/note}}<br>
            {{/phone}}
          {{/contact}}
        </section>

      </div>
    </div>

  </body>

</html>
